.upload-container{
    display: block;
    height: 15rem;
    width: 30rem;

    border: 1px solid rgb(58, 179, 249);
    white-space: normal;
    margin: auto;
}

.upload-container *{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.upload-container__header{
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
    padding-bottom: 0.75rem;
}

.upload-container__btn{
    width: 8rem;
    height: 2rem;
    background-color: white;
    color: rgb(58, 179, 249);
    border: 1px solid rgb(58, 179, 249);
    white-space: normal;
    cursor: pointer;
}
.upload-container__btn:hover{
    background-color: rgb(58, 179, 249);
    color: white;
}
.upload-container__btn:active{
    cursor: default;
    color: rgb(58, 179, 249);
    background-color: white;
}

.custom-file__label{
    margin: 0;
}
.custom-file__label:hover{
    background-color: rgb(58, 179, 249);
    color: white;
}

.custom-file small{
    padding: 0.1rem;
    font-style: italic;
}

.custom-file__label{
    border: 1px solid rgb(58, 179, 249);
    color: rgb(58, 179, 249);
    padding: 0.5rem;
    display: block;
    width: 12rem;
    margin: auto;
    cursor: pointer;
}

.custom-file__label input[type="file"]{
    display: none;
}

.custom-file__filename{
    padding: 0.75rem 0 0 0;
}
.custom-file__filename_error{
    color: red;
    font-weight: bold;
}